#talent-list,
#gear-list {
    padding-top: 10px;
}

.talent-card,
.gear-card {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #4a4a7f;
    border-radius: 10px;
}

.talent-header,
.gear-header {
    display        : flex;
    flex-direction : row;
    align-items    : center;
}

.talent-name,
.gear-name {
    flex-grow: 1;
}