.background
{
/*        display: none;*/
    position: fixed;
    width: 100%;
    overflow: hidden;
    max-width:  100%;   /* Won't cause horizontal scrollbars */
    max-height: 100%;   /* Won't cause vertical scrollbars */

    display: none;

    @include breakpoint($with-side-bars)
    {
        display: block;
    }
}

.background-true
{
    z-index: 0;

    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width:  100%;   /* Won't cause horizontal scrollbars */
    max-height: 100%;   /* Won't cause vertical scrollbars */
}

@mixin svg-element()
{
/*     @include horizontally-centered-element();

    width: 100%; */
}

/* g
{
    @include svg-element();
}

svg
{
    @include horizontally-centered-element();

    width: 100%;
}
 */
/* 
svg
{
    position: fixed;
    //top: 0;
}
 */

svg
{
/*     display: block;
    margin: auto; */
    overflow: visible;
/*     width: 100%; */
//top:0; left:0; width:100%; height:100%;
    max-width:100%;
    position: fixed;
}

#foreground0
{
    @include svg-element();

    position: absolute;
    top: 0px;
    width: 100%;
}

#bg-layer-0, #background0
{
    @include svg-element();

    background-color: #ffecec;
    height: 100%;
    z-index: 0;
}

#bg-layer-1, #background1
{
    @include svg-element();

    background-color: #ffe5e5;
    height: 800px;
    z-index: 1;
}

#bg-layer-2, #background2
{
    @include svg-element();

    background-color: #ffcccc;
    height: 600px;
    z-index: 2;
}

#bg-layer-3, #background3
{
    @include svg-element();

    background-color: #ffb3b3;
    height: 300px;
    z-index: 3;
}

#bg-layer-4, #background4
{
    @include svg-element();

    background-color: #000;
    height: 100px;
    z-index: 4;
}
