#content-area
{
    @include horizontally-centered-element();

    box-sizing: border-box;
    position: absolute;
    top: 0;

    background-color: #FFF;
    padding: 70px 30px;

    height: auto;
    min-height: 100%;

    /* Place the content area in the middle of the page */
   /* margin: auto;*/

    z-index: 100;

    width: 100%;

    @include breakpoint($with-side-bars)
    {
        width: $center-area-width;
    }
}

#content-area > article
{
    & > h1
    {
        /*color: #ffe5e5;*/
        /*color: #DFBED9;*/
        color: $secondary-color-dim;
        @include font-size(42px);
        text-shadow: 3px 1px 1px rgba(50, 50, 50, 0.3);

        &:hover
        {
            color: #DFBED9;
        }
    }

    & > p
    {
        color: #000;
        @include font-size(16px);
        font-family: Verdana, Geneva, sans-serif;
        text-align: justify;

        margin-bottom: 30px; margin-bottom: 3rem;
    }
}

hr
{
  margin: 60px 0px;
}

article > hr, hr.paragraph-gap
{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(169, 98, 140, 0.75), rgba(0, 0, 0, 0));
}

/* Flaired edges, by Tomas Theunissen */
hr.article-gap
{
    height: 40px;
    border-style: solid;
    border-color: rgba(169, 98, 140, 0.75);
    border-width: 1px 0 0 0;
    border-radius: 50px;

    &:before 
    { /* Not really supposed to work, but does */
        display: block;
        content: "";
        height: 40px;
        margin: -41px 0 0 0;
        border-style: solid;
        border-color: rgba(169, 98, 140, 0.75);
        border-width: 0 0 1px 0;
        border-radius: 50px;
    }    
}

img
{
    width: 100%;
    margin: 20px 0px;

    &.blocking
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &.wrapping-left
    {
        /*clear: both;*/
        float: left;
        margin-right: 20px;
    }

    &.wrapping-right
    {
        /*clear: both;*/
        float: right;
        margin-left: 20px;
    }
}

