header
{
    z-index: 20;
    display: block;
    position: absolute;

    width: 100%;

    background-color: var(--menu-bg-color);

    opacity: var(--menu-opacity);

    transition:
        border-radius var(--menu-close-duration) linear;
}

@media (min-width: 800px)
{
    header
    {
        position: fixed;
        border-radius: 0px 0px 40% 0%;
    }
}

/* @media (min-width: 1500px)
{
    header
    {
        border-radius: 0px 0px 40% 0%;
    }
} */

header > #header-bar
{
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: var(--header-height);

    margin-top: 0px;
    padding-left: 50px;

    

    transition:
        height var(--menu-close-duration) linear,
        margin-top var(--menu-close-duration) linear;
}

header > #header-bar > h1
{
    z-index: 20;
    display: inline;

	color: var(--header-font-color);

    font-family: var(--menu-font);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;

    font-size: var(--font-size-18);
    line-height: var(--line-height-18);

    transition:
        font-size var(--menu-close-duration) linear,
        line-height var(--menu-close-duration) linear,
        margin-bottom var(--menu-close-duration) linear;
}

@media (min-width: 800px)
{
    header > #header-bar
    {
        justify-content: center;
    }

    header > #header-bar > h1
    {
        text-align: center;

        font-size: var(--font-size-32);
        line-height: var(--line-height-32);

        margin-bottom: 10px;
    }
}

@media (min-width: 1500px)
{
    /* header > #header-bar
    {
        border-radius: 0px 0px 40% 0%;
    } */

    header > #header-bar > h1
    {
        font-size: var(--font-size-36);
        line-height: var(--line-height-36);

        margin-bottom: 10px;
    }
}

footer
{
    z-index: 20;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

    background-color: var(--menu-bg-color);
    border-radius: 40% 40% 0px 0px;

    opacity: var(--menu-opacity);

    height: calc(var(--footer-height) * 3);
    margin-bottom: calc(var(--footer-height) * -2);

    text-align: center;
}

footer #date,
footer #contact,
footer #copyright
{
    padding: 3px;

    padding-right: 60px;
    padding-left: 60px;

	color: var(--header-font-color);

    font-family: var(--menu-font);
    font-weight: bold;

    white-space: nowrap;

    font-size: var(--font-size-10);
    line-height: var(--line-height-10);
}

footer #date,
footer #copyright > p
{
    font-size: var(--font-size-8);
    line-height: var(--line-height-8);

    padding: 0px;
}

footer #contact
{
    padding-top: calc( (var(--footer-height) - var(--line-height-10) - var(--line-height-8) * 3 - 5px * 3) / 3 * 2);
}

@media (min-width: 800px)
{
    
    footer #contact
    {
        font-size: var(--font-size-14);
        line-height: var(--line-height-14);
    }

	footer #date,
    footer #copyright > p
    {
        font-size: var(--font-size-10);
        line-height: var(--line-height-10);
    }

    footer #contact
    {
        padding-top: calc( (var(--footer-height) - var(--line-height-14) - var(--line-height-10) * 3 - 5px * 3) / 3 * 2);
    }
}

@media (min-width: 1500px)
{
    footer #contact
    {
        font-size: var(--font-size-16);
        line-height: var(--line-height-16);
    }

	footer #date,
    footer #copyright > p
    {
        font-size: var(--font-size-12);
        line-height: var(--line-height-12);
    }

    footer #contact
    {
        padding-top: calc( (var(--footer-height) - var(--line-height-16) - var(--line-height-12) * 3 - 5px * 3) / 3 * 2);
    }
}
